
<h1> Stupid Coaching </h1>
<div>
<p1> Your coach said </p1>
</div>
<div>
<p2> "<%= @coach_answer %>" </p2>
</div>

<div>
<%= link_to "Ask a new question", ask_path %>
</div>
<!-- actions and methods are for forms only -->
